body {
  margin: 0;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 100%;
}

h1 {
  font-size: 3.5rem;
  color: black;
}

h2 {
  font-size: 1.5rem;
  color: black;
}

p {
  font-size: 1rem;
  color: black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #184d47;
  border-width: 6px;
  width: 20%;
  display: inline-block;
  position: fixed;
  margin-top: 23%;
  margin-left: 18%;
}

/* navbar buttons */

.navbar {
  background-color: #d6efc7;
  margin: 0 auto 0 auto;
  padding: 4% 50% 0 50%;
  position: fixed;
}

.btn-about {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 3%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 -46%;
}

.btn-about:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.btn-interests {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 3.1%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 -30%;
}

.btn-interests:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.btn-coaching {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 3.2%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 -14%;
}

.btn-coaching:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.btn-tourn {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 1.8%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 2.7%;
}

.btn-tourn:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.btn-ambitions {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 2.6%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 19%;
}

.btn-ambitions:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.btn-misc {
  color: #184d47;
  background-color: #fad586;
  border-radius: 40px;
  padding: 12px 4.2%;
  display: inline-grid;
  position: fixed;
  top: 6.1%;
  margin: -3% auto 0 35%;
}

.btn-misc:hover {
  transform-origin: center;
  transform: scale(1.05);
}

/* top container */

.top-container {
  width: auto;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 100%;
  background-color: #96bb7c;
}

.website-name {
  font-size: 3.5rem;
  color: #d6efc7;
  display: inline-block;
  position: fixed;
  margin-top: 4%;
  margin-left: -45%;
}

.profile-pic {
  width: 30%;
  padding: 1%;
  display: inline-block;
  position: fixed;
  margin-left: -16%;
  margin-bottom: 1%;
}

.intro-title {
  font-size: 1.5rem;
  color: #fad586;
  display: inline-block;
  position: fixed;
  margin-top: 25%;
  margin-left: 17.2%;
}

/* middle container */

.middle-container {
  width: auto;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #96bb7c;
}
